#contenu
{
		margin-left:2%;

}
/*  HERO*/

#hero{
    
    width:100%;
    background:white;
	height::80%;
}

#carrousel{
	height:450px;
    width:95%;
    margin-left:2%;
    position:relative;
}

#imagePrincipale{
    width:100%;
    height:100%;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
}
#texte{
    position:absolute;
    margin-top:-20%;
	margin-left:10%;
    color: white;
    background: rgba(0,0,0,0.5);
    padding-left: 20px;
    border-radius: 10px;
   
}

#texte h2{
    font-size: 35px;
    margin-bottom: 10px;
}

#texte p{
    font-size: 18px;
    margin-bottom: 15px;
	font-size:120%;
}


#precedent,
#suivant{
    position:absolute;
    margin-top:20%;
    background:rgba(0,0,0,0.5);
    color:white;
    border:none;
    font-size:30px;
    width:45px;
    height:45px;
    border-radius:50%;
    
}

#precedent{
    margin-left:2%;
}

#suivant{
    margin-left:-5%;
}

#precedent:hover,
#suivant:hover{
    background:#6F4427;
}


#rime{
	
	width:95%;
	height:100%;
	padding-left:2%;
    margin-top:5%;
    background:linear-gradient(to left,tan,#FFDAB9,white,white,white);
}

#rime article{
    max-width:1200px;
    margin:auto;
    text-align:center;
}

#rime h2{
    color:#6F4427;
	font-size:200%;
	text-align:center;
	text-decoration:underline;
}

#rime #pa{
	width:80%;
	height:350px;
    text-align:justify;
	font-weight:bold;
	font-size:150%;
	padding-left:20%;
	
}

.re{
    width:45%;
    float:left;
	height:400px;
}
#re1
{
    width:30%;
    float:left;
	height:410px;
	padding-right:50px;
}
/*   SERVICES*/

#services{
	
    background:#f8f4f0;
    padding:60px 20px;
	margin-left:5%;
    text-align:center;
	background:linear-gradient(to top,tan,#FFDAB9,white,white,white);
    height:400px;
}

	
#service p{
	font-weight:bold;
	height:150px;
	font-size:150%;
}

#services h2{
    color:#6F4427;
    margin-bottom:35px;
	padding-bottom:50px;
	font-weight:bold;
	font-size:200%;

}

#coteneur{
    display:flex;
    justify-content:center;
    
}

.service{
	width:80%;
    background:white;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,0.2);
    margin-left:5%;

}


.service h3{
    color:#6F4427;
    margin-bottom:15px;
	font-size:160%;
	
}

/*   VEDETTES*/

#vedettes{
    text-align:center;
    background:white;
	margin-left:5%;
}

#vedettes h2{
    margin-bottom:40px;
    color:#6F4427;
	font-weight:bold;
	font-size:200%;
	
}

.vedettes-container{
    display:flex;
    justify-content:center;
    
}

.elt{
	width:30%;
	margin-left:5%;
    background:linear-gradient(to top,tan,#FFDAB9,white,white,white);
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}


.elt img{
    width:100%;
    height:220px;
	text-align:center;
    
}

.elt h3{
    margin-top:15px;
    color:#6F4427;
}

.elt p{
    color:gray;
    margin:10px;
	font-weight:bold;
}

.elt a{
    display:inline-block;
    margin:20px;
    padding:12px 20px;
    background:#6F4427;
    color:white;
    text-decoration:none;
    border-radius:6px;
 
	
}

.elt a:hover{
    background:#4E2F1C;
}

/* Valeur*/

#valeur{
	width:60%;
    margin-left:20%;
    text-align:center;
}

#valeur h2{
    margin-bottom:30px;
    color:#6F4427;
}

#valeur ul{
    list-style:none;
}

#valeur li{
    font-size:20px;
    margin:15px 0;
}


/*    STATISTIQUES */

#routeur{
    background:#6F4427;
    color:white;
    padding:50px;
	
}

#routeur div{
    text-align:center;
	width:30%;
	display:inline-block;
	padding-left:2%;
}

#routeur h3{
    font-size:40px;
}

#routeur p{
    font-size:18px;
	font-weight:bold;
}

/*APPEL A L'ACTION */

#appel{
    text-align:center;
    padding:70px 20px;
}

#appel h2{
    color:#6F4427;
    margin-bottom:20px;
}

#appel p{
    font-size:18px;
    margin-bottom:25px;
	font-weight:bold;
}

#ye{
    display:inline-block;
    text-decoration:none;
    background:#6F4427;
    color:white;
    padding:15px 30px;
    border-radius:8px;
    font-weight:bold;
}

#ye:hover{
    background:#4E2F1C;
}