#corps{
    width:98%;
    margin:auto;
	min-height:1000px;
}
/*contient le card-image et le card-content*/
#bloc{

 
    background:white;
    border-radius:15px;
	overflow:hidden;
	margin:40px 0;
    box-shadow: 5px 5px 5px gray;
}
/*contient les images*/
#bloc1{

    width:45%;
	height:350px;
	float:left;
}
/*les images dans le corps*/
#bloc1 img{

    width:100%;
    height:420px;	
	border-radius:10px;
    display:block;
}
/*les textes de descriptions*/
#bloc2{

    width:45%;
    padding:3%;
	line-height:1,8;
	height:350px;
	font-weight:bold;
	border-radius:10px;
	background:linear-gradient(to top,#FFDAB9,white,white,white,white,white, white,white,#FFDAB9);
	float:right;
	
}

/*indice du click sur l'image*/
#bloc2 a{

    display:inline-block;
    margin-top:20px;
    background:chocolate;
    color:white;
    padding:12px 22px;
    text-decoration:none;
    border-radius:8px;
}


/* les types villa ou maison... */
#type{
    background:#8B5E3C;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    display:inline-block;
    margin-bottom:15px;
}

#localisation{
    color:black;
    margin-bottom:15px;
}
/*le petite description*/
#description{
    line-height:1.6;
    margin:20px 0;
}


/* mettre en valeur le prix*/
#prix{
    margin-bottom:20px;
    display:inline-block;
    margin-top:20px;
    background:#8B5E3C;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
}


/* le titre*/
#titre{

    margin-bottom:20px;
	text-decoration:underline;
	text-transform:uppercase;
}

#bloc2 p{

    margin:15px 0;
}

/* pour l'indice du click sur l'image */
#bloc2 a{

    display:inline-block;
    margin-top:20px;
    background:#8B5E3C;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
}

#H{

    height:450px;
    background-image:url("../images/banner.jpeg");
    background-size:cover; 
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    padding-left:70px;
    margin-bottom:60px;
	width:97%;
}

#Htx{

    width:450px;
    background:rgba(0,0,0,0.45);
    padding:35px;
    border-radius:15px;
    color:white;
}
/* le titre */
#Htx h1{
    font-size:45px;
    margin-bottom:20px;
}

/* le paragtaphe */
#Htx p{

    line-height:1.8;
    margin-bottom:30px;
}